:root {
  --main-bg-color: #F2E9E4;

  --darkest-color: #1E1E1E;
  --dark-1-color: #22223B;
  --dark-2-color: #4A4E69;

  --lightest-color: #f2f2f2;
  --light-1-color: #9A8C98;
  --light-2-color: #C9ADA7;
}

/* BODY CSS */
html, body {
  background: var(--main-bg-color) !important;
}

html, body, #root {
  height:100vh;
  min-height:100vh;
  padding: 0px !important;
  margin: 0px !important;
}